{
  "extends": "airbnb",
  "env": {
    "browser": true
  },
  "rules": {
    "react/prop-types": "off",
    "linebreak-style": "off",
    "quotes": [2, "double"],
    "no-console": "error",
    "no-alert": "off"
  }
}
